h3
  = t '.title'
  small =< link_to t('fighters.new.title'), new_fighter_path

table.table.table-hover
  thead
    tr
      th = Fighter.human_attribute_name(:sport_kind)
      th = Fighter.human_attribute_name(:last_name)
      th = Fighter.human_attribute_name(:first_name)
      th = Fighter.human_attribute_name(:alias)
      th

  tbody
    - @fighters.each do |fighter|
      tr
        td = fighter.sport_kind
        td = fighter.last_name
        td = fighter.first_name
        td = fighter.alias
        td: .btn-group.btn-group-xs
          = link_to icon(:edit), edit_fighter_path(fighter), class: 'btn btn-default'
          = link_to icon(:trash), fighter, data: {confirm: t('helpers.confirmation')}, method: :delete, class: 'btn btn-danger'