p#notice = notice

p
  strong First name:
  = @fighter.first_name
p
  strong Last name:
  = @fighter.last_name
p
  strong Alias:
  = @fighter.alias
p
  strong Sport kind:
  = @fighter.sport_kind

= link_to 'Edit', edit_fighter_path(@fighter)
'|
= link_to 'Back', fighters_path
