.row: .col-sm-10.col-sm-offset-1
  = simple_form_for resource, as: resource_name, url: registration_path(resource_name),
                    html: {method: :put, class: 'form-horizontal'} do |f|

    h2 = t '.title'

    = f.input :email, autofocus: true, required: true

    = f.input :password, autocomplete: 'off', hint: t('.password_notice')

    = f.input :password_confirmation, autocomplete: 'off'

    /= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    = f.input :current_password, autocomplete: 'off', required: true

    = f.submit class: 'btn btn-primary'