= form_for resource, as: resource_name, url: registration_path(resource_name), html: {class: 'form-signup'} do |f|

  h2.form-heading = t '.title'

  = f.label :username, class: 'sr-only'
  = f.text_field :username, autofocus: true, required: true, placeholder: User.human_attribute_name(:username),
                  class: 'form-control'

  = f.label :email, class: 'sr-only'
  = f.email_field :email, required: true, placeholder: User.human_attribute_name(:email),
                  class: 'form-control'

  = f.label :password, class: 'sr-only'
  - if @minimum_password_length
    = f.password_field :password, autocomplete: 'off', required: true,
                       placeholder: User.human_attribute_name(:password), class: 'form-control'
    em = t '.password_length', num: @minimum_password_length
    = f.password_field :password_confirmation, autocomplete: 'off', required: true,
                       placeholder: User.human_attribute_name(:password_confirmation), class: 'form-control'

  = f.submit t('.sign_up'), class: 'btn btn-primary btn-lg btn-block'