- flash.each do |name, msg|
  - if msg.is_a? String
    .alert.alert-dismissible@alert class="alert-#{name}"
      button.close type="button" data-dismiss="alert" aria-label="Close"
        span aria-hidden="true" &times;
      = msg