/nav.navbar.navbar-inverse: .container-fluid
/  .navbar-header
/    button.navbar-toggle.collapsed type='button' data-toggle='collapse' data-target='#navbar-content' aria-expanded='false'
/      span class='sr-only' Toggle navigation
/      span class='icon-bar'
/      span class='icon-bar'
/      span class='icon-bar'
/      a.navbar-brand href='#' FF
/  #navbar-content.collapse.navbar-collapse
/    ul.nav.navbar-nav

#header.row: .col-xs-12
  = link_to t('application_name'), root_path, class: 'home-link'
  - if user_signed_in?
    == "#{t('.welcome')}, #{link_to(user.name, edit_user_registration_path)}"
    = link_to t('.sign_out'), destroy_user_session_path, method: :delete, class: 'pull-right'
  - else
    = link_to t('.sign_in'), new_user_session_path
    '  /
    = link_to t('.sign_up'), new_user_registration_path