li.fight.list-group-item data-id=forecast.id
  - if forecast.upcoming?
    = simple_form_for forecast, url: fight_forecasts_path(forecast.fight), remote: true, html: {class: 'forecast-form form-inline'} do |f|
      = f.association :winner, as: :radio_buttons, collection: fighters_collection(forecast.fight), label: false
      = f.input :way, collection: win_ways_collection, label: false
      = f.submit class: 'btn'
  - else
    = forecast.fighter_tag 1
    '  vs.
    = forecast.fighter_tag 2

  span.pull-right = forecast.link_to_remove