= simple_form_for @event, html: {class: 'form'} do |f|
  = hidden_field_tag 'event[kind]', 'mma'
  /= f.input :kind, collection: event_kind_collection_for_select, prompt: false
  = f.input :name
  = f.input :time, with_css_classes: true, start_year: Time.now.year, end_year: Time.now.year.next
  = f.input :description
  = f.button :submit