h3
  = t '.title'
  small =< link_to t('events.new.title'), new_event_path

table.table.table-hover
  thead
    tr
      th = Event.human_attribute_name(:name)
      th = Event.human_attribute_name(:date)
      th = Event.human_attribute_name(:kind)
      th

  tbody
    - events.each do |event|
      tr
        td = link_to event.name, event.object
        td = event.date
        td = event.kind
        td: .btn-group.btn-group-xs
          = link_to icon(:edit), edit_event_path(event), class: 'btn btn-default'
          = link_to icon(:trash), event, data: {confirm: t('helpers.confirmation')}, method: :delete, class: 'btn btn-danger'