h3
  =< link_to icon('chevron-left'), events_path
  =< "[#{event.kind}]"
  =< event.name
  small =< event.datetime

= event.description

#fights-container.panel.panel-default
  .panel-heading: h4.panel-title = t 'fights.index.title'
  ul#fights.list-group
    - if user_signed_in?
      = render collection: forecasts, partial: 'events/forecast'
    - else
      = render collection: event.fights, partial: 'events/fight'
#new-fight-form-container
= link_to t('fights.new.title'), new_event_fight_path(@event), class: 'btn btn-default btn-sm', remote: true
hr
= link_to t('helpers.links.edit'), edit_event_path(@event), class: 'btn btn-default'