= form_for resource, as: resource_name, url: session_path(resource_name), html: {class: 'form-signin'} do |f|

  h2.form-heading = t '.title'

  = f.label :login, class: 'sr-only'
  = f.text_field :login, autofocus: true, required: true, placeholder: User.human_attribute_name(:login),
                 class: 'form-control'

  = f.label :password, class: 'sr-only'
  = f.password_field :password, autocomplete: 'off', required: true, placeholder: t('.password'), class: 'form-control'

  - if devise_mapping.rememberable?
    .checkbox
      label
        = f.check_box :remember_me
        = t '.remember_me'

  = f.submit t('.sign_in'), class: 'btn btn-primary btn-lg btn-block'
  br
  = link_to t('.forgot_password'), new_password_path(resource_name)