$('#new-fight-form-container').html('<%= j render('fights/new') %>');

$('#fighter1-search').typeahead({
  ajax: '/fighters',
  onSelect: function(item) {
    App.Fighters.autocompleteSelect(item.value, '1');
  }
});

$('#fighter2-search').typeahead({
  ajax: '/fighters',
  onSelect: function(item) {
    App.Fighters.autocompleteSelect(item.value, '2');
  }
});
