.autocomplete-input.combo {
//  @extend .row;
//  @extend .collapse;
//  .text-field {
//    @include prefix-postfix-base();
//    @include grid-column($columns: 11, $collapse: true);
//    text-align: left;
//  }
  .button {
    margin: 0;
//    @include grid-column($columns: 1);
//    @include postfix($is-button: true);
//    @extend .postfix;
//    @extend .secondary;
  }
}

.ui-autocomplete {
  @include dropdown-container($triangle: true, $max-width: 1024px);
  max-height: 400px;
  overflow-y: auto;
  overflow-x: hidden;
  list-style: none;
  .ui-menu-item {
    @include dropdown-style;
    &.ui-state-focus {
      background: $f-dropdown-list-hover-bg;
    }
  }
}
