.form-signin, .form-signup {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
  .form-heading {
    margin-bottom: 10px;
  }
  .form-control {
    position: relative;
    height: auto;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
  }
  #user_login {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  input[type='submit'] {
    margin-top: 10px;
  }
}

.form-signin #user_password {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
