#header {
  height: 2rem;
  background-color: #222;
  border: 1px solid #080808;
  min-height: 32px;
  font-size: 14px;
  line-height: 14px;
  padding: 8px 0;
  color: #aaa;
  margin-bottom: 20px;
  .home-link {
    margin-right: 15px;
    font-weight: bold;
    color: #fff;
    font-size: 16px;
    &:hover {
      text-decoration: none;
    }
  }
  a {
    color: #ccc;
    &:hover {
      color: #F7F7F7;
    }
  }
}