doctype html
html lang='ru'
  head
    meta charset='utf-8'
    meta http-equiv='X-UA-Compatible' content='IE=edge'
    meta name='viewport' content='width=device-width, initial-scale=1'
    title = content_for?(:title) ? yield(:title) : title
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  body.container-fluid class="c-#{controller_name} a-#{action_name}"
    header = content_for?(:header) ? yield(:header) : render('shared/header')
    #flash-messages = render('shared/flash_messages')
    #main-container = content_for?(:content) ? yield(:content) : yield
    footer = content_for?(:footer) ? yield(:footer) : render('shared/footer')